<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
          </div>
          <div>
              <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About Us</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li>
                  <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                  <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
              </li>
              {% else %}
              <li>
                  <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                      {% csrf_token %}
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Username" name="username">
                          <input type="password" class="form-control" placeholder="Password" name="password">
                          <button class="btn btn-primary" type="submit">Login</button>
                          <a class="btn btn-link" href="#">Sign Up</a>
                      </div>
                  </form>
              </li>
              {% endif %}
          </ul>
      </div>
  </nav>
  <!-- Nav bar -->
  <!--Add a registration form here -->
  <!-- Registration form -->
  <form action="{% url 'djangoapp:registration' %}" method="post">
    {% csrf_token %}
    <div class="container">
      <h1>Sign Up</h1>
      <hr>
      <div class="form-group">
        <label for="username"><b>Username: </b></label>
        <input type="text" class="form-control" placeholder="Enter username..." name="username" required>
        <label for="firstname"><b>First Name: </b></label>
        <input type="text" class="form-control" placeholder="Enter first name..." name="firstname" required>
        <label for="lastname"><b>Last Name: </b></label>
        <input type="text" class="form-control" placeholder="Enter last name..." name="lastname" required>
        <label for="password"><b>Password: </b></label>
        <input type="password" class="form-control" placeholder="Enter password..." name="password" required>
        {% if message %}
        <div class="alert alert-warning">
          {{ message }}
        </div>
        {% endif %}
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </div>
  </form>
  <!-- Footer -->
  <footer class="bg-light text-muted">
      <div class="text-center p-4" style="background-color: (0, 0, 0, 0.05);">
          © 2023 Best Cars:
          <a class="text-dark" href="{% url 'djangoapp:contact' %}"><b>Contact Us</b></a>
      </div>
  </footer>
  <!-- Footer -->
  </body>
</html>